PORT=3000
APP_URL=http://localhost:3000
SESSION_SECRET=tetecorazon
MONGODB_URI=mongodb+srv://crperezpinci_db_user:Cris2026Test123@cluster0.sovkt2o.mongodb.net/client-data-admin?retryWrites=true&w=majority&appName=Cluster0
ADMIN_SEED_EMAIL=cr.perezpinci@gmail.com
ADMIN_SEED_PASSWORD=Cris2026Test123
ADMIN_SEED_NAME=Cristian Perez
SEED_STARTER_CLIENTS=true
