PORT=3000
APP_URL=http://localhost:3000
SESSION_SECRET=tetecorazon
MONGODB_URI=mongodb:mongodb+srv://crperezpinci_db_user:v4dRfLq6y3SoGs72@cluster0.sovkt2o.mongodb.net/?appName=Cluster0
ADMIN_SEED_EMAIL=cr.perezpinci@gmail.com
ADMIN_SEED_PASSWORD=c2310r0147p
ADMIN_SEED_NAME=Cristian Perez
SEED_STARTER_CLIENTS=true
